@import "~bootstrap/scss/bootstrap";

.dc-power{
    background-color: #0282f9;
    height: 40px;
}

.nav-bar{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

li a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 0 10px;
}

.active{
    color: #0282f9;
    box-shadow: 0px 40px 0px -6px #0282f9;
}


